/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.extra_top{margin-top:380px;}
	header.main_header{
		.nav-menu{
			li{					
				margin: 0px 20px;
			}
		}			
	}
	.divider
	{
		margin-top: 333px;
	}
	.produktet_container{
		.products_list
		{
			.product
			{
				.size(118px, 118px);
				&:hover
				{
					.size(118px, 118px);
				}
			}
		}
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	header.main_header{
		header.main_header{
			.nav-menu{
				li{					
					margin: 0px 70px;
				}
			}				
		}			
	}
	.divider
	{
		margin-top: 230px;
	}
	.produktet_container{
		.products_list
		{
			.product
			{
				.size(118px, 118px);
				&:hover
				{
					.size(118px, 118px);
				}
			}
		}
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	header.main_header{
		.nav-menu{
			li{					
				margin: 0px 70px;
			}
		}			
	}
	.divider
	{
		margin-top: 65px;
	}
	.produktet_container{
		.products_list
		{
			.product
			{
				.size(118px, 118px);
				&:hover
				{
					.size(118px, 118px);
				}
			}
		}
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.extra_top{margin-top:320px;}
	header.main_header{
		.nav-menu{
			li{					
				margin: 0px 70px;
			}
		}
		.hide_element
		{
			display: none;
		}
		.show_element
		{
			display: block;
		}
	}
	.divider
	{
		margin-top: 65px;
	}
	footer {
		span.copy_right {
			a{
				text-align:center;
				padding: 10px 0px;
				display: block;
			}
		}
	}
	.produktet_container{
		.products_list
		{
			.product
			{
				.size(118px, 118px);
				&:hover
				{
					.size(118px, 118px);
				}
			}
		}
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.extra_top{margin-top:300px;}
	.divider
	{
		margin-top: 50px;
	}
	footer {
		span.copy_right {
			a{
				text-align:center;
				padding: 10px 0px;
				display: block;
			}
		}
	}
	header.main_header{
		.hide_element
		{
			display: none;
		}
		.show_element
		{
			display: block;
		}
	}
	.ch-grid li{
		margin:20px 20px;
	}
}
