@import "elements.less";
@import "lesshat.less";
@import "var.less";
@import "base.less";
@import "components.less";

.transition(@duration, @type) {
    -moz-transition: all @duration @type;
    -webkit-transition: all @duration @type;
    transition:all @duration @type;
}

/*Main CSS*/
#main_header {
    border-top:4px solid @header_color;
    min-height:100px;
    height:200px;
    background:transparent url('../images/theme/eagle.png') center center no-repeat;

    #left_logo {
        a {
            display:block;
            margin-top:50px;
        }
    }

    #right_logo {
        position:relative;
        float:right;
        a img {
            position:absolute;
            right:0;
        }
    }

    .tel {
        background-color:#fbfbfb;
        padding:1rem;
        width:190px;
        float:left;
        margin-top:45px;
        img {
            display:block;
            float:left;
        }
        span {
            font-size:1.42rem;
            display:block;
            margin-left:1rem;
            color:#000;
            text-align:center;
             strong {
                font-weight:bold;
             }
        }
    }
}


#main_menu {
    nav {
        width: 100%;
        border-top: 2px solid #E1E1E1;
        border-bottom: 2px solid #E1E1E1;
        ul {
            list-style: none;
            display: inline-block;
            margin: 0px;
            font-size: 100%;
            li {
                position: relative;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                margin: 0px;
                padding: 0px 0px;
                line-height: 0px;
                &:first-child {

                }
                &:hover {
                    ul {
                        width: 165px;
                        background-color: #FFF;
                        display: block;
                        position: absolute;
                        z-index: 9999;
                        margin: 0px 0px 0px -7px;
                        padding: 0px;
                    }
                }
                &:after {
                    position:absolute;
                    top:17px;
                    right:0;
                    margin-left:1rem;
                    content:'/';
                    color:#e1e0e0;
                }

                &:last-child::after {
                    content:'';
                }
                a {
                    color: #605D5E;
                    display: inline-block;
                    width: 165px;
                    text-transform: uppercase;
                    margin: 0px;
                    padding: 10px 0px;
                    font-size: 14px;
                    line-height: 14px;
                    margin: 0px;
                    &:hover, &:active {
                      color:@header_color;
                      .transition(.2s, ease-in);
                    }
                }
                ul {
                    display:none;
                    li {
                        text-align: center;
                        display: flex;
                        &:after {
                            content:'';
                        }

                        &:last-child {
                            margin-bottom:0;
                        }

                        a {
                           display: inline-block;
                            padding: 10px;
                            &:hover {
                                color:#fff;
                                background-color:@header_color;
                                .transition(.2s, ease-in);
                            }
                        }
                    }
                }               
            }
        }
    }
}

#main_content {
    margin-top:1rem;

    .item {
        margin-left:0;
        padding-left:0;
        margin-bottom:2em;
        figure {
            position:relative;
            a {
                display:block;
                img {
                    width:100%;
                    height:140px;
                }
            }
            img {
                max-width:100%;
                height:auto;
                max-height:200px;
            }
            span.image_icon {
                position:absolute;
                top:40px;
                right:-6px;;
                width:60px;
                height:60px;
                display:block;
                -moz-border-radius:50%;
                -webkit-border-radius:50%;
                border-radius:50%;
                background:#333;
                text-align:center;
                vertical-align:middle;
                z-index: 999;
                img {
                    margin-top:10px;
                }
            }
        }
    }

    ul.list_details {
        display:inline;
        li {
            padding:1rem 0;
            display:block;
            img {
                float:left;
            }
            span {
                float:left;
                line-height:40px;
            }
            span.icon {
                -webkit-border-radius:50%;
                -moz-border-radius:50%;
                border-radius:50%;
                &:hover {
                    cursor:pointer;
                   /* background-color:#ff0;*/
                    .transition(.2s, ease-in);
                }
            }
        }
    }
}

#main_sidebar {
    h4 { text-align:left; margin-left:5px; padding:.2rem 0; }
    background-color:#f8d000;
    .sidebar_item {
      padding:.5rem;
      form {
          max-width:100%;
          input[type="text"], textarea {
              width:95%;
              background:rgba(253,245,206, 0.7);
              outline:none;
          }
          button {
              -moz-border-radius:0;
              -webkit-border-radius:0;
              border-radius:0;
              background-color:@header_color;
              width:100%;
              text-align:center;
              padding:.5rem;
              color:#fff;
          }
       }
    }
}

#main_news {
    .news_item {
        padding-left:0;
        margin-left:0;
    }
}

#main_footer {
    background-color:#f0f0f0;
}
.map_container {
    position:relative;
    #map_canvas {
        width:100%;
        height:520px;
    }
}

/* END*/
/* End Main CSS
@import "layout.less";
*/

/* SERVICES */
#services_icons {
    width:450px;
    min-height:50px;
    margin:0 auto;
    div {
        width:130px;
        height:130px;
        padding-bottom:3em;
        margin-bottom:2em;
        border-bottom:5px solid transparent;

        &:hover {
            border-bottom:5px solid @header_color;
            .transition(.5s, ease-in-out);
        }
        a {
        display:block;
        line-height:130px;
        text-align:center;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
        background-color:@dark;
        color:#fff;
        &:hover {
            background-color:@header_color;
            .transition(.5s, ease-in-out);
        }
      }
    }
}

#services_posts {
    div {
        margin:0;
        padding:0;
    }
    .post_item {
        figure {
            position:relative;
            text-align:center;
            span {
                position:absolute;
                bottom:-40px;
                margin-left:-20px;
                -webkit-border-radisu:50%;
                -moz-border-radius:50%;
                border-radius:50%;
                border:5px solid #fff;
            }
        }

        h3 {
            margin-top:1.5em;
        }
    }
    .post_item:nth-child(even) {
        margin-left: 20px;
    }
}

#services_info {
    background-color:#fbfbfb;
    min-height:100px;
    div.info_text {
        padding-top:2em;
        padding-bottom:1em;
        width:80%;
        margin:0 auto;
        text-align:center;
    }
    .info_buttons {
        margin:0 10%!important;
        div {
            margin-right:9%;
            margin-bottom:50px;
            min-height:50px;
            background-color:#f8d000;
            padding:0.5em;
            text-align:center;
            span {
                text-transform:uppercase;
                strong {
                    display:block;
                }
            }
            img {
                width:50px;
                height:50px;
                float:left;
            }
        }
    }
}

/* ABOUT */
.about_posts {
    div:first-child {
        float:left;
    }
    div:nth-child(odd) {
        margin-left:0;
    }
    div:last-child {
        float:right;
    }
    .middle {
        margin-left:30px!important;
    }
}

/* Partners */
#partners_container {
    margin-top:2em;
    margin-bottom:2em;
    .partner {
        h4 {
           color:#949494;
        }
        margin-bottom:1em;
        figure {
          border:1px solid #eeeeee;
          img {
            max-width:97%;
            margin:0.5em;
          }
        }
    }
}

/* Staff */
#staf_container {
    .staff {
        margin-top:2em;
        margin-bottom:2em;
        figure {
            img {
                border-bottom:5px solid red;
            }
        }

        strong {
            color:#b4b4b4;
            font-weight:400;
        }
    }
}


/* Referencat */
#map_container {
    #map {
        min-height:400px;
    }
}


/* Produktet */
.product-middle { width:100%; height:auto; background-color:#fbfbfb; }

.product_row {
    margin-top:1em;
    margin-bottom:1em;
    display:block;
   .product {
        margin-left:5px;
        margin-right:5px;
        figure {
            img {
                width:100%;
            }
        }
        .product-content {
            h4 {
                text-align: center;
                color:#383436;
                display:block;
            }

            p {
                color: #6e6e6e;
                padding:0.5em;
                text-align:center;
            }
        }
    }
}